.input-container {
    width: 30%;
    margin: 10px auto;
}
.input-container input {
    height: 100%;
    padding: 10px 0 10px 0;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    text-align: center;
}

.input-container input:focus {
    outline: none;
}

.width50 {
    width: 50% !important;
}
.width100 {
    width: 100% !important;
}